

.carouselImage {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
}

.backRelative {
    position: relative;
    text-align: center;
}
.backAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textBold{
    font-weight: bold;
}
.textLight{
    font-weight: light;
    font-style: italic;
    color:#808080;
}
.marginTop{
    margin-top: 1rem;
}